<div ng-controller="NavbarCtrl">
  <!-- *** TOPBAR ***
  _________________________________________________________ -->
  <div id="top">
    <div class="container">
      <div class="col-md-6 offer" data-animate="fadeInDown">
      </div>
      <div class="col-md-6" data-animate="fadeInDown">
        <ul class="menu">

        </ul>
      </div>
    </div>

  </div>


  <div class="navbar navbar-default yamm" role="navigation" id="navbar">
    <div class="container">
      <div class="col-md-12">
        <div class="navbar-header">

        </div>
        <!--/.navbar-header -->

        <!--/.nav-collapse -->

        <div class="navbar-buttons">


          <!--/.nav-collapse -->


          <a class="navbar-brand home" href="" data-animate-hover="bounce" style="margin-left: 30%">

            <img src="assets/img/task.png" width="40px;"> Thank you for Giving me such an opportunity

          </a>
        </div>
      </div>
      <!--/.navbar-header -->

      <!--/.nav-collapse -->
      <!-- /.container -->
    </div>
    <!-- /#navbar -->
  </div>
  <!-- *** NAVBAR END *** -->
</div>
